namespace ConsoleApp12
{
    internal class Program
    {
        static void Main(string[] args)
        {
            string testValue = "Person03";

            bool isPasswordValid = CheckPassword(testValue);

            if (isPasswordValid)
            {
                Console.WriteLine("Uygundur.");
            }
            else
            {
                Console.WriteLine("uygun deyildir");
            }
        }
        static bool CheckPassword(string password)
        {
            // 1. En az 1 reqem
            if (!password.Any(char.IsDigit))
            {
                return false;
            }

            // 2. En az 1 boyük herf 
            if (!password.Any(char.IsUpper))
            {
                return false;
            }

            // 3. En az 1 kicik herf
            if (!password.Any(char.IsLower))
            {
                return false;
            }

            // uygundur
            return true;
        }
    }
}
